<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chatbot.css') }}">
    <title>AzTecX</title>
    <link rel="icon" type="image/icon" href="{{ url_for('static', filename='images/logo.ico') }}">
</head>

<body>
    <div class="main-original">
        <div class="navbar">
            <div class="logo-name">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo" class="logo-img">
                <h1 class="heading">AzTecX</h1>
            </div>
        </div>

        <div class="main-conc">
            <div class="left-part">
                    <h2>AzTecX Assistant</h2>
                    <p>It is a Personalized AI Assistant, capable of answering any queries related to the Document Uploaed in the Azure Language Studio.</p>
                    <p>This is a part on AzTecX, A One Day Workshop on Azure Services Conducted on 24th June 2024 in VVCE, Mysuru</p>
                    <p>The Bot can only answere related to the Document Uploaded so try to ask relevent questions.</p>
            </div>
            <div class="chat-container">
                <div class="chat-box" id="chatbox">
                    <div class="chat-box-header">
                        <h3>AzTecX Assistance</h3>
                    </div>
                    <div class="chat-box-body" id="chat-box-body">
                        <div class="chat-box-body-receive">
                            <span class="material-symbols-outlined">smart_toy</span>
                            <p>Hi, I'm your virtual assistant. How may I help you?</p>
                        </div>

                    </div>
                    <div class="chat-box-footer">
                        <textarea placeholder="Ask a Question..." id="to-be-sent" onkeydown="sendMessage(event)" ></textarea>
                        <span class="material-symbols-outlined" onclick="sendMessageClick()">send</span>

                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="{{ url_for('static', filename='js/chatbot.js') }}" defer></script>
</body>

</html>